@import "tailwindcss";
@import "@nuxt/ui";
@import "./typography.css";

@theme static {
    --ui-primary: var(--theme-primary);
    --ui-secondary: var(--theme-secondary);

    --color-primary: var(--theme-primary);
    --color-secondary: var(--theme-secondary);
    --color-accent: var(--theme-accent);
    --color-action: var(--theme-action);
    --color-background: var(--theme-background);
    --color-text: var(--theme-text);
    --color-primary-text: var(--theme-text-primary);
    --color-secondary-text: var(--theme-text-secondary);

    --border-radius: var(--theme-border-radius);
    --ui-radius: var(--theme-border-radius);
}

img {
    border-radius: var(--border-radius, 50px) !important;
}

.container {
    padding: 0rem 20px;
}

/* Page transitions */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}


