@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --ui-primary: var(--theme-primary);
    --ui-secondary: var(--theme-secondary);

    --color-action: var(--theme-action);
    --color-background: var(--theme-background);
}